.navigation {
    display: flex;

    background-color: var(--header-primary);
}

.navigation>ul {
    justify-content: space-between;
    width: 100%;
}

.navigation>ul>li {
    list-style-type: none;
    margin: auto;
}

.navigation>ul>li>a {
    color: var(--text-titlebar);
}