nav {
    display: flex;

    background-color: var(--header-primary);
}

nav>ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;

    padding: 0;
    width: 100%;
}

nav>ul>li {
    list-style-type: none;
    margin: auto;
}

nav>ul>li>a {
    color: var(--text-titlebar);
}