.postCard {
    display: block;

    background-color: var(--misc-element);
}

.postInfo {
    display: inline;
    align-self: end;
    margin-left: auto;

    background-color: var(--misc-element);
    font-size: small;
}

.postsList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 25%));
}