@media (prefers-color-scheme: light) {
    :root {
        --background: hsl(0, 0%, 100%);

        --header-primary: hsl(0, 0%, 82%);
        --footer-primary: hsl(0, 0%, 82%);

        --text-titlebar: hsl(0, 0%, 32%);
        --text-primary: hsl(0, 0%, 0%);

        --section-default: hsl(0, 0%, 92%);

        --misc-element: hsl(0, 0%, 85%);

        --accent-color: hsl(342, 91%, 40%);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: hsl(0, 0%, 21%);

        --header-primary: hsl(0, 0%, 41%);
        --footer-primary: hsl(0, 0%, 32%);

        --text-titlebar: hsl(0, 0%, 76%);
        --text-primary: hsl(0, 0%, 100%);

        --section-default: hsl(0, 0%, 17%);

        --misc-element: hsl(0, 0%, 35%);

        --accent-color: hsl(54, 86%, 46%);
    }
}