<!DOCTYPE html>
<html lang="en">
  {% include head.liquid %}

  <body class="columnContainer">
    {% include nav.liquid %}

    <content class="rounded-border">
      {{ content }}
    </content>

    {% include footer.liquid %}
  </body>
</html>