<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
  </head>

  <link rel="stylesheet" href="/styles/basic.css" />
  <link rel="stylesheet" href="/styles/containers.css" />

  <body>
    {% include header.html %}

    <content class="columnContainer">
      <h1>{{page.title}}</h1>
      <div class="postInfo">
        Posted on {{page.date}}.<br />
        Categories are {{page.categories}}.
      </div>
      {{content}}
    </content>

    {% include footer.html %}
  </body>
</html>
